In [154]:
import numpy as np
import pandas as pd

In [155]:
df = pd.read_csv("Dataset_Processo_Seletivo_UFRJ_Analytica_2022.1.csv")

df

     ano sigla_uf  expectativa_vida  populacao_urbana  populacao_rural   idhm
0   1991       AC             63.72            258520           159198  0.402
1   1991       AL             58.10           1482033          1032067  0.370
2   1991       AM             63.67           1502754           600489  0.430
3   1991       AP             65.05            234131            55266  0.472
4   1991       BA             59.94           7016770          4851221  0.386
..   ...      ...               ...               ...              ...    ...
76  2010       RS             75.38           9100291          1593638  0.746
77  2010       SC             76.61           5247913          1000523  0.774
78  2010       SE             71.84           1520366           547651  0.665
79  2010       SP             75.69          39585251          1676948  0.783
80  2010       TO             72.56           1090106           293339  0.699

[81 rows x 6 columns]

In [156]:
# Filtragem do ano de 1991 e média de IDH's
df_anoFiltrado = df[ df["ano"] == 1991 ]
df_idhMedio = df_anoFiltrado["idhm"].mean()

resposta = f'Item 3. \nO IDH médio do Brasil no ano de 1991 foi de {df_idhMedio:,.3f}'

print(resposta)

Item 3.
O IDH médio do Brasil no ano de 1991 foi de 0.454

In [157]:
df_idhFiltrado = df_anoFiltrado[ df_anoFiltrado["idhm"] > df_idhMedio]
arrayEstados = df_idhFiltrado.sigla_uf.unique()

estados = ''
for i in arrayEstados:
    if i == arrayEstados[len(arrayEstados)-1]:
        estados += i
        break
    elif i == arrayEstados[len(arrayEstados)-2]:
        estados = estados + i + " e "
    else:
        estados = estados + i + ", "

resposta = f'''Item 4. 
Os estados brasileiros que possuem IDH acima da média no ano de 1991 são: 
{estados}.
'''
print(resposta)

Item 4.
O estados brasileiros que possuem IDH acima da média no ano de 1991 são:
AP, DF, ES, GO, MG, MS, PR, RJ, RR, RS, SC e SP.

In [160]:
df_idhOrdenado = df_anoFiltrado.sort_values("idhm").head(5)

resposta = f'''Item 5. 
Os cincos primeiros estados ordenados pelo IDH de 1991 são:\n
{df_idhOrdenado}
'''
print(resposta)

Item 5.
Os cincos primeiros estados ordenados pelo IDH de 1991 são:

     ano sigla_uf  expectativa_vida  populacao_urbana  populacao_rural   idhm
9   1991       MA             58.04           1972421          2957832  0.357
16  1991       PI             60.71           1367184          1214953  0.362
26  1991       TO             60.32            530636           389227  0.369
1   1991       AL             58.10           1482033          1032067  0.370
14  1991       PB             58.88           2052066          1149048  0.382

In [161]:
maiorIdh = df_anoFiltrado.idhm.max()
estadoMaiorIdh = df_anoFiltrado[ df_anoFiltrado["idhm"] == maiorIdh].sigla_uf.unique()[0]
menorIdh = df_anoFiltrado.idhm.min()
estadoMenorIdh = df_anoFiltrado[ df_anoFiltrado["idhm"] == menorIdh].sigla_uf.unique()[0]

resposta = f'''Item 6. 
Analisando os dados do DataFrame, pode-se percerber que no ano de 1991, o estado do {estadoMenorIdh} teve o menor IDH de {menorIdh}.
Já o estado do {estadoMaiorIdh}, em contrapartida, teve o maior IDH do ano, com valor de {maiorIdh}.
'''
print(resposta)

Item 6.
Analisando os dados do DataFrame, pode-se percerber que no ano de 1991, o estado do MA teve o menor IDH de 0.357.
Já o estado do DF, em contrapartida, teve o maior IDH do ano, com valor de 0.616.